<h3>My Journeys</h3>

<p><%= link_to 'Add New', '/journeys/new' %></p>

<br>
<% counter = 1 %>
<% @journeys.each do |journey| %>
  <%= counter %>. <%= link_to "#{journey.place}", "/journeys/#{journey.id}" %> <br>
  <%= journey.startdate %> <br>
  <% counter += 1 %>
<% end %>
